body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(5, 5, 5);
  color: white;
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
}

body{
  background: url( https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFbQO2KCk7nTz-sIM7zyUJl8yspnlotuYBfmQ3EBKqlH3-BgWGRb-Lvz1qIEDxTAESiAI&usqp=CAU);
  background-size: cover;
}

.About{
 /* border: solid black; */
 font-size: 1.2em;
 background-color: lightskyblue;
 color: black;
 font-weight: bold;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: #cca4a415;
 padding: 20px;
 border: 2px solid #cccccc54;
 border-radius: 5px;
 height: 100%;
 box-shadow: 2px 5px 9px rgb(90, 87, 87);
}



.Education1, .Education2, .Education3{
  font-size: 1.2em;
  background-color: lightskyblue;
  color: black;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #83d3d015;
  padding: 20px;
  border: 2px solid #cccccc54;
  border-radius: 5px;
  height: 100%;
  box-shadow: 2px 5px 9px rgb(90, 87, 87);
}
.Experience1, .Experience2, .Experience3{
  font-size: 1.2em;
  background-color: lightskyblue;
  color: black;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cca4a415;
  padding: 20px;
  border: 2px solid #cccccc54;
  border-radius: 5px;
  height: 100%;
  box-shadow: 2px 5px 9px rgb(90, 87, 87);
}

.Links{
 
  font-weight: bold;
  color: black;
  justify-content: center;
  font-size: 1em;
}