body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(6, 6, 6);
  color: white;
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
}

body{
  background: url( https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFbQO2KCk7nTz-sIM7zyUJl8yspnlotuYBfmQ3EBKqlH3-BgWGRb-Lvz1qIEDxTAESiAI&usqp=CAU);
  background-size: cover;
}

.About{
 /* border: solid black; */
  font-size: 1em;
  background-color: white;
  color: black;
  font-weight: bold;
}